
.DS_Store
Case3/.metadata/.log
Case3/.metadata/.plugins/org.eclipse.core.resources/.history/63/7062d4dc26de0018146cfead4cc6ff09
Case3/.metadata/.plugins/org.eclipse.core.resources/.history/f7/8089d4dc26de0018146cfead4cc6ff09
Case3/.metadata/.plugins/org.eclipse.core.resources/.history/fb/40edd3dc26de0018146cfead4cc6ff09
Case3/.metadata/.plugins/org.eclipse.core.resources/.projects/docker-git-hello-world/.indexes/af/history.index
Case3/.metadata/.plugins/org.eclipse.core.resources/.projects/docker-git-hello-world/.indexes/properties.index
Case3/.metadata/.plugins/org.eclipse.core.resources/.projects/docker-git-hello-world/.location
Case3/.metadata/.plugins/org.eclipse.core.resources/.projects/docker-git-hello-world/.markers
Case3/.metadata/.plugins/org.eclipse.core.resources/.projects/docker-git-hello-world/org.eclipse.egit.core/GitProjectData.properties
Case3/.metadata/.plugins/org.eclipse.core.resources/.projects/docker-git-hello-world/org.eclipse.jdt.core/state.dat
Case3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Case3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Case3/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Case3/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Case3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
Case3/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Case3/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Case3/.metadata/.plugins/org.eclipse.jdt.core/103219604.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/1318811131.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/1408230787.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/1547105658.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/1794703015.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/2055598051.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/2727754357.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/2935125032.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/3087902465.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/3388598249.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/3432427482.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/3569978510.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/384658884.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/4044715751.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/417171029.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/558823348.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/749174627.index
Case3/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Case3/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Case3/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Case3/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Case3/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Case3/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Case3/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Case3/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Case3/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Case3/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Case3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2018/11/44/refactorings.history
Case3/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2018/11/44/refactorings.index
Case3/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
Case3/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
Case3/.metadata/.plugins/org.eclipse.m2e.core/docker-git-hello-world.lifecyclemapping
Case3/.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
Case3/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Case3/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Case3/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
Case3/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Case3/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Case3/.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
Case3/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
Case3/.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
Case3/.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
Case3/.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
Case3/.metadata/.plugins/org.eclipse.xtext.builder/builder.state
Case3/.metadata/.plugins/org.python.pydev/pyunit_tests/test_run_pin_info.txt
Case3/.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.blogs/-549550714.xml
Case3/.metadata/.plugins/org.springsource.ide.eclipse.dashboard.ui/feeds/dashboard.feeds.update/623127801.xml
Case3/.metadata/.plugins/xdockerdsl.ui/dialog_settings.xml
